*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
**********************
Setup
**********************
 */

 .setup .header_container{
    height: 60px;
 }

 /* .setup .main_container{
    background-color: yellow;
    height: 800px;
 } */


 /* 
**********************
Header
**********************
 */

 header{
    background-color: #ff6900;
 }

 header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
 }

.h_age nav a{
    color:white;
    text-decoration: none;
    padding: 3px;
    vertical-align: center;
}

.header_container nav ul li{
    display: inline-block;
}

.h_age{
    font-size: 14px;
}

.h_logo img{
    width: 100px;
    height:auto;
}


 /* 
**********************
Main
**********************
 */

 .main_container{
    padding:50px 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
 }


.main_container img{
    width: 380px;
}

.price{
    padding-bottom: 40px;
}

.brand, .price {
    font-size: 14px;
}

.wear{
    font-weight: bold;
}


/* Prova selettore avanzato ":NOT()"
Tutto ciò che è di classe "full" è "nero" 
e non è "grassetto"; tutto quello che ha classe
"price" ma non "full" è "rosso" e "grassetto" */

.full{
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

.price:not(.full){
    color: red;
    font-weight: bold;
}
/* Fine prova selettore avanzato ":NOT()"




