*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
**********************
Setup
**********************
 */

 /* .setup .header_container{
    height: 60px;
 } */

 /* .setup .main_container{
    background-color: yellow;
    height: 800px;
 } */

 /* .setup .footer_container{
    height: 100px;
 } */


  /* 
**********************
Common
**********************
 */

 header, footer {
    padding: 20px 0;
 }


 /* 
**********************
Header
**********************
 */

 
 /* ***********
 Prova ad inserire l'Header in posizione fissa in modo che il resto
 del sito durante lo scroll passi sotto all'header stesso.
 Usato Position FIXED + il posizionamento top/bottom/left/right
 (o in alternativa width:100%) + la proprietà z-index 
 per fare in modo che nulla passi sopra all'header durante 
 lo scorrimento pagina. */

 header{
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    /* 
    alternativa a width:100% puoi usare
    left: 0;
    right: 0;
    top:0; 
    */
    z-index: 999;
}

/* ************* */

 header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
 }

 header a{
    text-decoration: none;
    list-style: none;
    color:white;
}

.h_age nav a{
    padding: 3px;
    vertical-align: center;
}

.header_container nav ul li{
    display: inline-block;
}

.h_age{
    font-size: 14px;
}

.h_logo img{
    width: 100px;
    height:auto;
}


 /* 
**********************
Main
**********************
 */

 .main_container{
    padding: 100px 20px 0 0;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
 }


.main_container img{
    width: 380px;
}

/* 
*****************************
regola per togliere il bordino fastidioso che può apparire
in automatico dopo l'inserimento di una immagine */

main img{
    display:block;
}
/* ******************************* */


/* 
************************************
SOVRAPPOSIZIONE SECONDA IMMAGINE che cambia con il passaggio
del mouse */

.image{
    position: relative;
}

.secondary_image{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;  /* rendo invisibile l'immagine secondaria che sta sotto la primaria */
}

.box_image:hover .secondary_image{
    opacity: 1; /* rendo visibile l'immagine secondaria quando passo col mouse sopra */
}

/* ************************************ */

.sconto{
    position: absolute;
    bottom: 50px;
    width: 40px;
    height: 20px;
    background-color: #FF009c;
    color: white;
    list-style: none;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
} 

.etichetta{
    position: absolute;
    bottom: 50px;
    left: 45px;
    width: 80px;
    height: 20px;
    background-color: green;
    color: white;
    list-style: none;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
} 

#etichetta{
    position: absolute;
    bottom: 50px;
    width: 80px;
    height: 20px;
    background-color: green;
    color: white;
    list-style: none;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
} 


/* 
*******************************
Impostazione: Quando passo con il mouse sopra l'icona del cuore,
questo si colora di rosso. (regola HOVER) */
.heart{
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0px;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.favourite:hover .heart{
    color:red;
}

/* ********************************* */

.price{
    padding-bottom: 40px;
}

.brand, .price {
    font-size: 14px;
}

.wear{
    font-weight: bold;
}


/* 
********************
Prova selettore avanzato ":NOT()"
Tutto ciò che è di classe "full" è "nero" 
e non è "grassetto"; tutto quello che ha classe
"price" ma non "full" è "rosso" e "grassetto" */

.full{
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

.price:not(.full){
    color: red;
    font-weight: bold;
}
/* Fine prova selettore avanzato ":NOT()"



 /* 
**********************
Footer
**********************
 */

footer{
    background-color: black;
    color: white;
 }

footer .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.soc_name{
    padding: 5px 0;
    font-weight: bold;
}

footer ul li{
        font-size: 14px;
        display:inline-block;
        padding: 3px;
}

.info_social{
    font-size: 14px;
}

.info_social > div{
    font-weight: bold;
}


footer .info_general a {
    color: white;
    text-decoration: none;
    list-style: none;
}

.look_for{
    padding-bottom: 10px;
}

footer .social a {
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}

.social > div{
    display: inline-block;
    padding: 2px;
    background-color: white;
}

